## This is my notebook in ECE 2112!

In [1]:
type(346)

int

In [2]:
type(45.3)

float

In [3]:
type('c')

str

In [4]:
type(True)

bool

## Python Type Conversion
### How will I convert 34.5 to integer?

In [5]:
int(34.5)

34

In [6]:
float(45)

45.0

## Operations on INTs and FLOATs

In [7]:
#Addition
78+65

143

In [8]:
#Subtraction
78-85

-7

In [9]:
#Multiplication
78*85

6630

In [10]:
#Exponentation
78**85

67304054671971450739989420306807619836799377985470716666894760506378032361691314076427140597397010589541943423481240405499752742660038542135357687606606894727168

In [11]:
#Division (Float) - isang slash lang
20/6

3.3333333333333335

In [12]:
#Division (Int) - dalawang slash 
20//6

3

In [13]:
#Modulo - remainder
20%6

2

## Operations on Strings

Strings -

In [2]:
s = "Advanced Programming"
s

'Advanced Programming'

In [15]:
s.swapcase()

'aDVANCED pROGRAMMING'

In [16]:
#Dependent on ASCII codes
max(s)

'v'

In [17]:
s.isupper()

False

In [18]:
s.replace("m", "*")

'Advanced Progra**ing'

In [19]:
x = "gram" in s
x

True

In [20]:
#Slicing - string_name[indes ng first element: number of characters sa string including space: increment]
s[0:20:4]

'An gm'

In [21]:
txt = "I love {}"
txt.format(s)

'I love Advanced Programming'

# Python Data Structures
### List - is a collection of data which uses straight brackets [ ] and commas to separate the object.

In [22]:
m = ["apple", "banana", "cherry"]
m

['apple', 'banana', 'cherry']

In [23]:
print(m[1])

banana

In [24]:
print(m[-1])

cherry

In [25]:
m.append("mango")
m

['apple', 'banana', 'cherry', 'mango']

In [26]:
m.insert(2,"orange")
m

['apple', 'banana', 'orange', 'cherry', 'mango']

In [27]:
m.remove("banana")
m

['apple', 'orange', 'cherry', 'mango']

In [28]:
m.sort()
m

['apple', 'cherry', 'mango', 'orange']

In [29]:
del m[1]
m

['apple', 'mango', 'orange']

### Dictionary - uses curly braces and colons to signify the keys to their associated values

In [31]:
d = {"Brand":"Mitsubishi", "Model":"Mirage", "year":2018}
d

{'Brand': 'Mitsubishi', 'Model': 'Mirage', 'year': 2018}

In [36]:
d.get("Model")

'Mirage'

In [35]:
d["color"] = "pink"
d

{'Brand': 'Mitsubishi', 'Model': 'Mirage', 'year': 2018, 'color': 'pink'}

In [37]:
d.keys()

dict_keys(['Brand', 'Model', 'year', 'color'])

In [39]:
d.pop("Model")
d

{'Brand': 'Mitsubishi', 'year': 2018, 'color': 'pink'}

In [41]:
d.popitem()
d

{'Brand': 'Mitsubishi'}

### Tuple - collection of data which is immutable

In [59]:
t = "apple", "banana", "cherry", "mango", "orange"
t

('apple', 'banana', 'cherry', 'mango', 'orange')

In [45]:
print(t[1])

banana

In [46]:
print(t[-2])

mango

In [56]:
print(t[2:3])

('cherry',)

In [47]:
t[2] = "orange"

TypeError: 'tuple' object does not support item assignment

In [48]:
len(t)

5

In [61]:
del t
t

NameError: name 't' is not defined

## Set - collection of unique data elements which is unordered

In [62]:
s = {"apple", "banana", "cherry", "cherry"}
s

{'apple', 'banana', 'cherry'}

In [63]:
s.add("orange")
s

{'apple', 'banana', 'cherry', 'orange'}

In [64]:
s.update(["mango", "grapes"])
s

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [65]:
s.remove("banana")
s

{'apple', 'cherry', 'grapes', 'mango', 'orange'}

In [66]:
s.pop()
s

{'apple', 'cherry', 'grapes', 'orange'}

## Input and Output in Python

In [67]:
p = input("Enter you name: ")

Enter you name: ria

In [72]:
n = int(input("Enter a number: "))

Enter a number: 12

In [74]:
n = float(input("Enter a number: "))

Enter a number: 12.143

In [75]:
print("Hello World")

Hello World

In [76]:
print(n)

12.143

In [77]:
print("My favorite number is", n, "and I used it earlier")

My favorite number is 12.143 and I used it earlier

### IF statement

In [84]:
a = 33, b = 200
if b > a:print("b is greater tha a")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (77733442.py, line 1)

In [85]:
grade = 58
if grade < 60: print("I'm sorry"); print("You failed")

I'm sorry
You failed

### IF ELSE

In [86]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [101]:
def squaresum (n):
    add = 0
    for i in range (n+1):
        add += i**2
    return add
squaresum(5)

30